<%= $player_1.name %> v. <%= $player_2.name %>, the showdown of the century
<br>
<%= $player_1.name %> HP: <%= $player_1.health %>
<%# <a href="/attack?attacker=player_2">Attack</a> %>
<br>
<%= $player_2.name %> HP: <%= $player_2.health %>
<a href="/attack?attacker=player_1">Attack</a>
